:host {
    margin-bottom: 1.6rem;
    position: relative;
    display: block;
    font-size: 1.4rem;

    .example-chip-list {
        width: 100%;
    }

    .close {
        width: 1.4rem;
    }
}
