@import "../../../../assets/styles/variables.scss";

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 27.4rem;

    h2 {
        margin-bottom: 2rem;
    }

    .h2 {
        align-self: flex-start;
        margin-bottom: 2;
        font: 700;
        font-size: 34;
        line-height: 34;
    }

    .actions {
        margin-top: auto;
    }
    
    .submit_web {
        height: 3.6rem;
        border-radius: 0.4rem;
    }

    .textbox {
        width: 100%;
    }

    .btn_tns {
        width: 100%;
    }

    .registration {
        font-size: 1.2rem;
        text-align: center;

        span {
            display: inline-block;
            margin-right: 0.8rem;
        }

        a {
            color: #5b5e79;
        }
    }

    form {
        min-height: 26rem;
        display: flex;
        flex-direction: column;
    }

    FlexboxLayout {
        width: 100%;
        justify-content: center;
        align-items: center;
        background-size: cover;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .form {
        width: 90%;
        justify-content: flex-start;
        align-content: flex-start;
    }
    
    .actions-tns {
        margin-bottom: 16;
        margin-top: auto;
        width: 100%;
        align-self: flex-end;
    }

    @media (max-width: 600px) {
        width: 100%;
    }
}
