<Label class="h2" [text]="'Password Recovery' | translate"></Label>

<FlexboxLayout class="form" [formGroup]="mainForm">
    <label *ngIf="resetRequestSent" [text]="('We have sent you a link to reset your password to' | translate) + email.value"></label>

    <exg-textbox *ngIf="!resetRequestSent" class="textbox" [autoFocus]="true" formControlName="email" placeholder="{{'Email'}}" inputType="email" [maxlength]="320" [required]="true" [controlsToValidate]="[email]" [validate]="validate$ | async"></exg-textbox>

    <exg-form-error [error]="error"></exg-form-error>

    <FlexboxLayout class="actions-tns">
        <exg-button class="btn_tns" *ngIf="!resetRequestSent" placeholder="{{'Reset Password' | translate}}" (btnClick)="onSubmit()"></exg-button>
        <exg-button class="btn_tns" *ngIf="resetRequestSent" [nsRouterLink]="[routes.auth.fullUrl]" placeholder="{{'Log In' | translate}}"></exg-button>
    </FlexboxLayout>
    
</FlexboxLayout>
