<h2 translate>Password Recovery</h2>

<form [formGroup]="mainForm" [autocomplete]="true" [exgDisabled]="pending" (submit)="$event.preventDefault(); onSubmit()">

    <div *ngIf="resetRequestSent">{{'We have sent you a link to reset your password to' | translate}} {{email.value}}.</div>

    <exg-textbox *ngIf="!resetRequestSent" [autoFocus]="true" formControlName="email" placeholder="{{'Email'}}" inputType="email" [maxlength]="320" [required]="true" [controlsToValidate]="[email]" [validate]="validate$ | async"></exg-textbox>

    <exg-form-error [error]="error"></exg-form-error>

    <div class="actions">
        <exg-button *ngIf="!resetRequestSent" class="submit_web" color="primary" type="submit" width="100%">{{'Reset Password' | translate}}</exg-button>
        <exg-button *ngIf="resetRequestSent" class="submit_web" color="primary" [routerLink]="[routes.auth.fullUrl]" width="100%">{{'Log In' | translate}}</exg-button>
    </div>
</form>
