:host {
    .content {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    
    .main-title {
        width: 100%;
        height: 53;
        padding: 5;
        border-bottom-width: 1px;
        border-bottom-color: rgba($color: #edf1f4, $alpha: 0.68);
        align-content: center;
    }
    
    .title {
        font-size: 16;
    }
    
    .list {
        flex-direction: column;
    }
    
    .item {
        flex-direction: row;
        padding: 5;
    }
    
    
    .tap-box {
        width: 56;
        height: 56;
    }
}
